.App {
  text-align: center;
  box-sizing: border-box;
}

.search-bar {
	margin: 30px auto;
	display: flex;
	justify-content: center;
}

.search-bar > div {
	width: 45%;
	margin: 0 12px 0 0;
	text-align: left;
	border: 0.5px solid gray;
}

.search-bar > div > input {
	width: calc( 100% - 24px );
	padding: 5px;
	margin: 5px;
	font-size: 18px;

}

.search-bar > div > a {
	text-decoration: none;

}

.search-bar > div > a > div {
	margin: 0 10px;
	padding: 5px;
	width: calc( 100% - 24px );
	text-align: left;
	color: black;
}

.search-bar > div > a > div:hover {
	background-color: lightblue;
}



.search-bar button {
	width: 10%;
	font-size: 12px;
	padding: 5px;
	margin: 8px;
	align-self: flex-start;
}

.result-page-header {
	display: flex;
	justify-content: space-between;
	width: 60%;
	margin: 10px auto;
	padding: 5px;
}

.sortby-field {
	padding: 5px;
	font-size: 12px;
}

.sortby-text {
	font-size: 12px;
}

.all-results {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px auto;
	width: 80%;

}

.indiv-result {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 0.5px solid black;
	width: calc(( 100% - 40px ) / 4);
	padding: 5px;
	margin: 5px;
}

.indiv-result * {
	margin: 5px auto;
	text-decoration: none;
	color: black;
}

.indiv-result img {
	width: 80%;
	object-fit: cover;
}

.additional-info {
	width: 90%;
	display: flex;
	justify-content: space-between
}

.additional-info * {
	font-size: 10px;
}